{% extends "base.html" %}
{% load static %}

{% block title %}All Challenges{% endblock title %}

{% comment %} {% block css_style %}{% endblock css_style %} {% endcomment %}

{% comment %} {% block header %}{% endblock header %} {% endcomment %}

{% block page_title %}Months of challenge{% endblock page_title %}

{% block content %}
    
    {% for month in months %}
        <h4><a href='{% url "challenge_by_string" month %}' title='{{ month|title }}'>{{ month|title}}</a></h4>
    {% endfor %}

{% endblock content %}

{% comment %} {% block footer %}{% endblock footer %} {% endcomment %}