{% extends "base.html" %}
{% load static %}

{% block title %}All Challenges{% endblock title %}

{% comment %} {% block css_style %}{% endblock css_style %} {% endcomment %}

{% comment %} {% block header %}{% endblock header %} {% endcomment %}

{% block page_title %}Months of challenge{% endblock page_title %}

{% block content %}
    
    <ul style='list-style: none;'>
        {% for month in months %}
            <li><a href='{% url "challenge-string" month %}' title='{{ month|title }}'>{{ month|title}}</a></li>
        {% endfor %}
    </ul>

{% endblock content %}

{% comment %} {% block footer %}{% endblock footer %} {% endcomment %}