{% extends "base.html" %}
{% load static %}

{% block style_css %}
    <link rel="stylesheet" href="{% static "challenges/challenges.css" %}">
{% endblock %}

{% block page_title %}
    All challenges
{% endblock %}

{% block content %}

{% include "challenges/includes/header.html" with active_page="index" %}

<h1>List of all months available in the year</h1>
<ul>
    {% for month in months %}
        <!-- <li><a href="/challenges/{{ month }}">{{ month|title }} Challenge</a></li> -->
        <li><a href="{% url "month-challenge" month %}">{{ month|title }} Challenge</a></li>
    {% endfor %}
</ul>
{% endblock %}