h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  margin: 2rem 0 1rem 0;
  font-weight: normal;
  color: #cf54a6;
}

h2 {
  font-size: 0.75rem;
  font-weight: bold;
  color: black;
  background-color: grey;
  padding: 0.5rem;
  border: solid 1px greenyellow;
  border-radius: 5px;
}
.fallback {
  text-align: center;
  color: red;
}